<h1>Dictionary Entries</h1>

<%= link_to 'New Entry', new_entry_path %>

<% @entries.each do |entry| %>
  <article class="entry">
    <p>
      <strong><%= entry.word.titlecase %> (<%= entry.language.upcase %>)</strong> -
      <%= link_to "View Definition", entry_path(entry) %>
      <!-- <%= entry.definition.capitalize %> -->
    </p>
  </article>
<% end %>