<%= link_to 'Back to Main', entries_url %>

<h1>New Entry</h1>

<%= form_for @entry do |f| %>
  <p>
    <%= f.label :word %>:
    <%= f.text_field :word %>
  </p>

  <p>
    <%= f.label :language %>:
    <%= f.text_field :language %>
  </p>

  <p>
    <%= f.label :definition %>:
    <%= f.text_area :definition, size: '30x10' %>
  </p>
<% end %>