<%= link_to 'Back to Main', entries_url %>

<article class="entry">
  <h1><%= @entry.word.titlecase %> (<%= @entry.language.upcase %>)</h1>
  <%= link_to "Edit", edit_entry_path %>
  <p><%= @entry.definition.capitalize %></p>
</article>